<div class="col col-lg-12 col-centered">

    <div class="card col-lg-12 bg-light col-centered">
      <div class="card-header">
        <h3> Artigos
          <button type="button" style="margin-right: 0px" (click)="add()" class="text-right btn btn-outline-info btn-lg">
            <i class="pi pi-pencil" aria-hidden="true"></i>
          </button>
        </h3>
      </div>
      <div class="card-body col-lg-12 col-centered">
        <table class="table table-striped table-hover table-bordered col-centered">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">Titulo</th>
              <th class="text-center">Chave</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let artigo of artigos$ | async">
              <td class="text-center">{{artigo.title}}</td>
              <td class="text-center">{{artigo.key}}</td>
              <td class="text-center">
                <button type="button" (click)="selecionaArtigo(artigo)" class="btn btn-success  ">
                  <i class="pi pi-pencil"></i>
                </button>
                <button type="button" (click)="delete(artigo)" class="btn btn-danger  ">
                  <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
  
        <div class="text-center">
          <a [routerLink]="['/admin/painel']" class="btn btn-primary ">
            <i class="pi pi-replay" aria-hidden="true"></i>
            Voltar</a>
        </div>
      </div>
    </div>
  </div>
  
  <p-dialog header="Dados do artigo" minWidth="600" [contentStyle]="{'overflow':'visible'}"
    [(visible)]="displayDialogArtigo" [responsive]="true" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="form.value">
      <form [formGroup]="form">
        <div class="ui-grid-row mb-3">
          <div class="ui-grid-col-4">
            <label for="ocorrencia">Id*:</label>
          </div>
          <div class="ui-grid-col-8 ">
            <input type="text" pInputText formControlName="id"  />
          </div>
          <div class="ui-grid-col-4">
            <label for="ocorrencia">Titulo*:</label>
          </div>
          <div class="ui-grid-col-8 ">
            <input type="text" pInputText formControlName="title"  />
          </div>
        </div>
        <div class="ui-grid-row mb-3">
            <div class="ui-grid-col-4">
              <label for="ocorrencia">Chave*:</label>
            </div>
            <div class="ui-grid-col-8 ">
              <input type="text" pInputText formControlName="key"  />
            </div>
            <div class="ui-grid-col-4">
              <label for="ocorrencia">Data*:</label>
            </div>
            <div class="ui-grid-col-8 ">
              <input type="text" pInputText formControlName="date"  />
            </div>
         </div>
         <div class="ui-grid-row mb-3">
            <div class="ui-grid-col-4">
              <label for="ocorrencia">Conteudo*:</label>
            </div>
            <div class="ui-grid-col-8 ">
              <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="content" ></textarea>
            </div>
          </div>
          <div class="ui-grid-row mb-3">
            <div class="ui-grid-col-4">
              <label for="ocorrencia">Description*:</label>
            </div>
            <div class="ui-grid-col-8 ">
              <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="description" ></textarea>              
            </div>
         </div>
         <div class="ui-grid-row mb-3">
            <div class="ui-grid-col-4">
              <label for="ocorrencia">Url da Imagem*:</label>
            </div>
            <div class="ui-grid-col-8 ">
              <input type="text" pInputText formControlName="imageUrl"  />
            </div>
            <div class="ui-grid-col-4">
              <label for="ocorrencia">Perfil*:</label>
            </div>
            <div class="ui-grid-col-8 ">
              <p-selectButton [options]="tipos" formControlName="perfil"></p-selectButton>
            </div>
         </div>
      </form>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ">
        <button [disabled]="!form.valid" type="button" class="btn btn-primary"  (click)="save()">
          <i class="fas fa-check-circle"></i> {{edit ? 'Atualizar' : 'Salvar'}}
        </button>
      </div>
    </p-footer>
  </p-dialog>
  