<div id="services" class="pad-section">
    <div class="container">
      <h2 class="text-center">Quem somos</h2> <hr />
      <div class="row text-center">
        <div class="col-sm-6 col-xs-6">
          <i class="glyphicon glyphicon-cloud"> </i>
          <h4>Suporte</h4>
          <p>Seja bem-vindo ao nosso local de trabalho! Esperamos que esta se torne na sua casa por muitos anos e que encontre em todos nós uma segunda família.

            Na nossa área de Suporte possuimos os seguintes serviços :
            
            Remoção de Vírus
            Atualização de Sistemas
            Manutenção de Redes
            Acesso a Internet
            Instalação de Programas
            Instalação de Hardware
            Manutenção Corretiva
            Manutenção Preventiva
            Formatação
            Suporte Remoto
          </p>
        </div>
        <div class="col-sm-6 col-xs-6">
          <i class="glyphicon glyphicon-leaf"> </i>
          <h4>Desenvolvimento</h4>
          <p>
            Na nossa área de Desenvolvimento possuimos os seguintes serviços :
            Sites
            Aplicativos Mobil
            Aplicativos Java
            Suporte e Manutenção nas linguagens:
            JAVA, J2EE, J2ME, VRaptor, Spring, PHP
            Banco de Dados :
            Oracle (Conhecimentos avançados em procedures )
            DB2 (Conhecimentos avançados em procedures )
            Sybase
            SQL Server (Conhecimentos avançados em procedures)
            Outros ...
            </p>
        </div>
      </div>
    </div>
  </div>
